@import url(https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);




//COLORS map
$color: (
  main:#24d4a0,
  accent1:#ffd166,
  accent2:red,
  accent3:#1d8aaf,
  accent4:#0a3a4a,
  dark:#282828,
  gray:#e1e1e1,
  darkgrey:#666,
  bright:#f5f5f5,
) !default;

//Breakpoint map
$breakpoints: (
  'xsmall': (max-width: 375px ), //added breakpoint variable
  'large': (min-width: 376px ),
) !default;