/* Color map */

$site-colors:(
    primary: blue,
    secondary: #FAFAFA,
    third: red,
    fourth: yellow,
    five: green,
    six: black,
    seven: #eee
    );

$font: Georgia, 'Times New Roman', Times, serif;


/* Variabler för font-sizes */

$font-size1: 20px;

$font-size2: 30px;

$font-size3: 40px;

$font-size4: 50px;

/* Sass map som har fördefinerat värden för attributen */

$breakpoints: (
    'small':  ( min-width:  100px ),
    'medium': ( min-width:  750px ),
    'large':  ( min-width: 840px ),
    'desktop':  ( min-width: 1000px ),
    'wide': (min-width: 1280px)
) !default;