/* Color map */


$colors: (
    bakgrund: #B1FF6D,
    textcolor: #2C68AD,
    saldo: #D0FFFD,
    
    /* Border-colors */
  
    /* Border1 */
    border1-text: #F9D64D,
  
    /* Border2 */
    border2-text: #DF1724,
    border2-background: #F4B8BA,
    
    /* Border3 */
    border3-text: #ffffff,
    border3-background: #14C700,
  
    /* Border4 */
    border4-background: #F9D64D
  );
  
$font: Georgia, 'Times New Roman', Times, serif;


/* Variabler för font-sizes */

$font-size1: 20px;

$font-size2: 30px;

$font-size3: 40px;

$font-size4: 50px;

/* Sass map som har fördefinerat värden för attributen */

$breakpoints: (
    'small':  ( min-width:  100px ),
    'medium': ( min-width:  750px ),
    'large':  ( min-width: 840px ),
    'desktop':  ( min-width: 1000px ),
    'wide': (min-width: 1280px)
) !default;