/* 
   Här använder jag mig av en Universal selector.
   Som då gör så att alla regler som jag skriver 
   här, kommer gälla för alla element på sidan.
 */
 *
{
    font-family: 'Merriweather', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

/*
  Använder en type selector. Som då bara siktar
  in sig på ett specifikt element. T.ex om jag
  skriver h1{color:green;}, så kommer alla h1:or
  som finns i dokumentet stylas. 
*/
body  
{
    background-color: #e9967a;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}
/*
  Här har jag valt och sätta regler för ul. Genom
  att skriva att jag kommer styla ett ul-element,
  Som ligger inuti en header och en nav. Denna 
  selektorn kallas en descendant selector.
*/
header nav ul
{
    background-color:#333;
    height: 2em;
    padding-top: 0.3em;
    text-align: center;
}
/*
  Samma sak här, väljer att sätta regler för
  dom list-item som ligger inuti en header
  och en nav.
*/
header nav li
{
   display: inline;
   padding :3em;
   font-size: 1em;
}
header nav ul li a
{
   color:white;
}
/*
  Psuedo selector som nu då detta i fallet
  kommer sätta regler för dom länkar som 
  inte har blivit besökta.
*/
a:link
{
   color: white;
}
/* 
  Regler satta för dom länkar som blivit besökta.
*/
a:visited
{
   color: green;
}
/*
  Denna :hover selectorn är då till för att styla 
  länkar när du håller med muspekaren över dom.
*/
header nav ul li a:hover
{
   color: grey;
}
/*
  En Adjacent sibling selector som nu då väljer
  att rikta in sig på en h3:a som har en h2:a 
  precis innan samt att dom måste ha samma förälder.
  I detta fall en <div>.
*/
.logo h2 + h3
{
   color:greenyellow;
}
/*
  En class selector som i detta fallet kommer att
  sätta regler för dom element som har angivits
  med klassen "syndicate". Om det är klasser
  man ska styla om så sätts det alltid en punkt
  först för att anmärka att det är en klass.
  Sedan därefter namnet man har givit elementet.
*/
.syndicate
{   
   background-color:slategrey;
   margin: 1em;
   border-bottom: 3px solid darkblue;
}

.syndicate p
{
   color: whitesmoke;
   padding: 0.5em;
   margin-bottom: 0.5em
}
.syndicate h3
{
   padding: 0.5em;
   text-align: center;
}
.blog_summary
{
   background-color: salmon; 
   text-align: center;   
}

.blog_summary ul li
{
   margin: 0.5em;
   padding: 0.5em;
}

.blog_summary ul li a:hover 
{
    color:red;
}  
/*
  En child selector som talar om i detta fall
  att man kommer styla dom/det span element som är
  ett barn till en <p> tagg.
*/
.blog_summary p > span
{
   color:yellow;
   text-align: center;
}

.blog_summary ul
{
    text-align: center;
}

.contact 
{
    text-align: center;
    margin-top: 0.5em;
}
/*
  En General sibling selector som kommer kunna
  sätta regler för dessa element om dom har
  samma förälder. Vilket dom har i detta fall.
*/
.tel ~ .web {
    color: white;
}