.logo{
    margin-top: 10px;
}

.saldo{
    background: #D0FFFD;
    margin: 1em;

        p{
            font-size: 20px;
            padding: 1em;
            color: #2C68AD;
        }
    }

.info{
    text-align: center;

    p{
        font-size: 25px;
        font-weight: 1000;
        color: #2C68AD;
    }
}

.buttons{
    display: flex;
    justify-content: space-around;
    
    .borders{
        padding: 1em;
        border-radius: 50%;
    }

    .border1{
        background: #2C68AD;

        a{
            color: #F9D64D;
        }
    }

    .border2{
        background: #F4B8BA;

        a{
            color: #DF1724
        }
    }

    .border3{
        background: #14C700;

        a{
            color: #ffffff;
        }
    }

    .border4{
        background: #F9D64D;

        a{
            color: #2C68AD;
        }
    }
}

