*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'merriweather';
}

body{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

#logo{
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

.ikoner{
    font-size: 2.5em;
    padding-right: 10px;
}

.menu{
    display: none;
}

#nav-toggle{
    display: none;
}

#nav-toggle:checked + .mobilmenu .menu {
    display: flex; 
    flex-direction: column;
}

.menu ul li a{
    color:white;
}

.menu-icon{
    padding: 10px;
}

.icon-1{
    background-color:red;
}

.icon-2{
    background-color: blue;
}

.icon-3{
    background-color: palegreen;
}

.icon-4{
    background-color: saddlebrown;
}

.icon-5{
    background-color: gold;
}

.icon-6{
    background-color: seagreen;
}

#main{
    display: flex;
    flex-direction: column;
    border-top: 2px solid black;
}

#side{
    max-width: 100%;
    display: flex;
    padding: 10px;
    order: 3;
    flex-direction: column;
    background-color: gray;
}

.introduktion{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}


.introduktion .text p{
    margin-bottom: 15px;
}

.flex{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    padding: 10px;
    margin-top: 30px;
}

.flex .start{
    font-size: 120%;
    font-weight: 700;
}

.sub{
    display: flex;
    justify-content: space-between; 
} 

.flex-card1{
    background: brown;
    margin: 5px;
}

.flex-card2{
    background: red;
    margin: 5px;
}

.flex-card3{
    background: blue;
    margin: 5px;
}

img{
    height: auto;
    width: 100%;
}
  
.content{
    display: flex;
    margin-top: 15px;
    margin-bottom: 50px;
}

.icons{
    line-height: 30px;
    font-size: 1em;
}

.footer{
    display: flex;
    justify-content: center;
    height: 40px;
    background: grey;
  }

hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background: black;
  height: 1px;
}

.undertext{
    margin-top: 15px;
}

.bottom{
    display: flex;
    justify-content: center;
}

.bottom p{
    font-size: 15px;
}

@media all and (min-width: 814px){

label{
    display: none;
  }

.menu{
    display: flex;
    justify-content: flex-end;
}

.menu ul{
    display: flex;
    justify-content: flex-end;
}

.menu-icon{
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


#main{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    border-top: 2px solid black;
}

#side{
    max-width: 40%;
    display: flex;
    padding: 10px;
    order: 0;
    flex-direction: column;
    background-color: gray;
}

.flex{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    padding: 10px;
    margin-top: 30px;
}

.flex-card1{
    display: flex;
    flex: 1;
}

.flex-card2{
    display: flex;
    flex: 1;
}

.flex-card3{
    display: flex;
    flex-grow: 2;
}

}

@media all and (max-width: 450px) {
    #logo {
        font-size: 80%;
    }
}
 
@media all and (max-width: 400px) {
    #logo {
        font-size: 70%;
    }
}

@media all and (max-width: 450px) {
    .introduktion h1, .introduktion h2 {
        font-size: 130%;
    }
}
 
@media all and (max-width: 400px) {
    .introduktion h1, .introduktion h2 {
        font-size: 120%;
    }
}