/* Color map */

$site-colors:(
    primary: blue,
    secondary: #FAFAFA
    );

$font: Georgia, 'Times New Roman', Times, serif;



/* Sass map som har fördefinerat värden för attributen */

$breakpoints: (
    'small':  ( min-width:  20.000em ),
    'medium': ( min-width:  48.000em ),
    'large':  ( min-width: 62.000em )
) !default;