/* Color map */

$site-colors:(
    primary: blue,
    secondary: #FAFAFA
    );

$font-size-title: 50px;

$font-size-sub: 45px;

$font-size-content: 20px;

/* Sass map som har fördefinerat värden för attributen */

$breakpoints: (
    'small':  ( min-width:  20.000em ),
    'medium': ( min-width:  48.000em ),
    'large':  ( min-width: 62.000em )
) !default;