@include respond-to("small"){
.article-header{
    
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    
    .art{
        color: map-get($site-colors, six);
        font-size: $font-size3;
        text-transform: uppercase;
    }
}
}

@include respond-to("large"){
    .article-header{
    grid-column: 3 / 11;
    grid-row: 1 / 2;
    align-self: end;

}
}

@include respond-to("wide"){
    .article-header{
        grid-column: 4 / 11;
        grid-row: 1 / 2;
        align-self: end;
    }
}