.panel{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
}

@include respond-to("small"){
.article-body{
    align-self: center;
    padding-left: 20px;
}


@include respond-to("medium"){
}

@include respond-to("desktop"){
    display: flex;
    align-self: flex-start;
}

}