/* Article-header styling */

/* Small */

@include respond-to("small"){
.article-header{
    display: flex;
    justify-content: center;
    
    .art{
        color: map-get($site-colors, six);
        font-size:4.2vw;
        text-transform: uppercase;
    }
}
}

/* Medium */
@include respond-to("medium"){
    .article-header{
    align-self: end;

}
}

/* Large */
@include respond-to("large"){
    .article-header{
        align-self: end;
    }
}