/* bg-block styling */

/* Small */

@include respond-to("small"){
.bg-block{
    background-image: url(../../images/rockies.jpg);
    background-size: cover;
    border: #333 solid 20px;

    .kom{
        padding: 1em;

        .header{
            font-size: $font-size3;
            border-bottom: 1px solid black;
        }
    
        .caption{
            font-size: $font-size3;

            .special{
                color: map-get($colors, bakgrund);
            }
        }
    }
}
}
