/* Header styling */

header{
    @include gradient(30deg, red, orange);
    display: flex;
    justify-content: center;
    border-bottom: 10px solid black;

    .title{
        text-transform: uppercase;
        color: map-get($site-colors, secondary);
        font-size:7.1vw;
    }
}

