@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Lato'); 

*{
    font-family: 'lato', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

body{
    background: $primary-color;
}

img{
    width: 100%;
    height: auto;
}


.grid{
    @include gridTemplate(repeat(1, 1fr), auto, 1em);
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
