*{
    font-family: 'lato', Arial, Helvetica, sans-serif;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


img{
    max-width: 100%;
}

nav{
    display: none;
}


ul{
    display: flex;
    flex-direction: column;
    padding: 1em;
}

ul li{
    padding-top: 0.5em;
}

#nav-toggle{
    display: none;
}

label{
    color: blue;
    font-size: 20px;
    cursor: pointer;
    line-height: 40px;
}

nav ul li a{
    color: black;
}

nav ul ul li a{
    color: blue;
}

nav ul ul ul li a{
    color: red;
}

#nav-toggle:checked + #wrapper nav{
    display: block;
}

@supports (grid-area: auto) {

   

    @media all and (min-width: 27em) {

        .grid{
            margin: 0 auto;
            max-width: 960px;
        }

        .artiklar {
            grid-area: artiklar;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: 
            "box1 box2"
            "box3 box4"
            "box5 box6"
            "box7 ."
            "footer ."
            ;
        }

        

    }    

    @media all and (min-width: 60em) {

.grid{
	margin: 0 auto 0 auto;
	padding: 0;
	display: grid;
	max-width: 960px;
	grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "artiklar"
    "footer"
    ;   
	
}


header{
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 8em;
}

.logo{
    font-size: 25px;
    padding: 10px;
}

label{
    display: none;
}

nav{
    display: flex;
  }

  nav ul{
    display: flex;
    flex-direction: row;
}

nav ul li{
    padding: 1em;
    font-size: 20px;
}

nav ul li a{
    color: black;
}

nav ul ul li a{
    color: black;
}

nav ul ul ul li a{
    color: black;
}
  
nav ul ul {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
}
 
nav ul ul li{
    display: none;
}
  
nav ul ul ul{
    display: none;
}
  
nav ul li:hover ul li{
    display: block;
}
  
nav ul ul li:hover ul{
    display: block;
    position: absolute;
    width: 200px;
    left: 80px;
    top:100px;
}

 nav ul ul li {
    padding: 0.5em 0em;
}


.artiklar{
    grid-area: artiklar;
    display: grid;
    grid-gap: 1em;
    padding: 1em;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    "box1 box2 box2 box3 box3"
    "box4 box2 box2 box5 box5"
    "box6 box6 box7 box5 box5"
}

.borderleft{
    border-left: 1px solid grey;
}


}

.kort{
    border-top: 1px solid black;
    line-height: 2.5em;
}

.kort1{
    grid-area: box1;
    background: red;
}

.kort2{
    grid-area: box2;
    background: blue;
}

.kort3{
    grid-area: box3;
    background: blueviolet
}

.kort4{
    grid-area: box4;
    background: seagreen;
}

.kort5{
    grid-area: box5;
    background: goldenrod;
}

.kort6{
    grid-area: box6;
    background: violet;
}
    
.kort7{
    grid-area: box7;
    background: forestgreen;
}

footer{
    padding: 1em;
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
}

.footerleft{
    line-height: 2em;
    font-size: 17px;
}

.ikoner{
    color: blue;
    font-size: 40px;
}


}

