/* Universal */
*{
    font-family: 'lato', Arial, Helvetica, sans-serif;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Mobile */

img{
    max-width: 100%;
    height: auto;
}

nav{
    display: none;
}


ul{
    display: flex;
    flex-direction: column;
    padding: 1em;
}

ul li{
    padding-top: 0.5em;
}

/*
  Döljer checkboxen
*/
#nav-toggle{
    display: none;
}

/*
  Labeln kommer visas som en knapp man kan trycka på.
  Men det jag har gjort är att dölja checkboxen som sträcker
  sig över hela labeln. 
*/
label{
    color: blue;
    font-size: 20px;
    cursor: pointer;
    line-height: 40px;
}

nav ul li a{
    color: black;
}

nav ul ul li a{
    color: blue;
}

nav ul ul ul li a{
    color: red;
}

/*
  Här gör jag så att när checkboxen bockas av så kommer
  hela menyn visas.
*/
#nav-toggle:checked + #wrapper nav{
    display: block;
}

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/
@supports (grid-area: auto) {

    /* Tablet */

    @media all and (min-width: 27em) {

        .grid{
            margin: 0 auto;
            max-width: 960px;
        }


        .artiklar {
            grid-area: artiklar;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas: 
            "box1 box2"
            "box3 box4"
            "box5 box6"
            "box7 ."
            ;
        }

        

    }    

    @media all and (min-width: 60em) {

/* Desktop */


/*
  Sett till så att layouten delar in sig
  i 3-areas med en kolumn. En header, main 
  och footer. 

  Har valt och inte använda mig av full-screen.
*/
.grid{
	display: grid;
    max-width: 960px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
       "header"
       "main"
       "footer";   
	
}

/*
  Har gjort så att alla items i headern
  ska få en baseline eftersom då får
  dom en bas-linje.

  Jag har också gjort så att header får
  sitt värde gällande grid-area.
  
  Anledningen varför jag satte flex-direction
  row istället för column är därför jag vill
  att den ska arbeta från vänster till höger.
  Och inte uppifrån och nedåt.
*/
header{
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 8em;
}

.logo{
    font-size: 25px;
    padding: 10px;
}

label{
    display: none;
}


/* Meny */

nav{
    display: flex;
}

nav ul {
    display: flex;
    flex-direction: row;
    padding: 0;
}

nav ul li {
    padding: 1em;
    font-size: 20px;
}

nav ul ul li {
    padding: 0.5em 0em;
}

nav ul li {
    position: relative;
}

nav ul ul {
    position: absolute;
    width: 100%;
}

nav li:hover ul {
    display: flex;
}

nav ul ul li:hover ul li {
    position: relative;
    display: block;
    width: 50px;
    left: 100%;
    top: -30px;
}

nav ul ul ul li {
    display: none;
}

nav ul ul {
    display: none;
}

nav ul li:hover ul {
    display: flex;
    flex-direction: column;
}

a:hover{
    color: lightblue;
}

nav ul li a{
    color: black;
}

nav ul ul li a{
    color: lightblue;
}

nav ul ul ul li a{
    color: lightblue;
}

/* Main-content */

/*
  Här har jag först gjort så att den semantiska
  taggen main ska få sitt värde till area. 

  Efter detta såg jag till att jag skulle använda
  mig av 5 kolumner som jag kommer kunna använda
  mig av när jag placerar ut dom olika korten.

  Och ett grid-gap på 1em så dom får mellan rum
  gällande både grid-gap-row och grid-gap-column.
*/
.artiklar{
    grid-area: main;
    padding: 1em;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr auto);
    grid-template-areas: 
    "box1 box2 box2 box3 box3"
    "box4 box2 box2 box5 box5"
    "box6 box6 box7 box5 box5"
}

}


/*
  Valde att placera ut dom här reglerna utanför
  @supports (grid-area: auto) så att det gäller
  för både desktop och mobilen samt tableten 
  då i detta fall.
*/


/* Kort */
.kort{
    border-top: 1px solid black;
    line-height: 2.5em;
}

/*
  Fastställt så att dom får sitt värde
  angående grid-areas som jag har placerat
  ut.
*/
.kort1{
    grid-area: box1;
    background: red;
}

.kort2{
    grid-area: box2;
    background: blue;
}

.kort3{
    grid-area: box3;
    background: blueviolet
}

.kort4{
    grid-area: box4;
    background: seagreen;
}

.kort5{
    grid-area: box5;
    background: goldenrod;
}

.kort6{
    grid-area: box6;
    background: violet;
}
    
.kort7{
    grid-area: box7;
    background: forestgreen;
}

footer{
    grid-area: footer;
    padding: 1em;
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
}

.footerleft{
    line-height: 2em;
    font-size: 17px;
}

.ikoner{
    color: blue;
    font-size: 40px;
}


}

