

    .artiklar{
        grid-area: main;
        padding: 1em;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "box1 box2 box2 box3 box3"
        "box4 box2 box2 box5 box5"
        "box6 box6 box7 box5 box5";

        .kort{
            border-top: 1px solid black;
            line-height: 2.5em;
        }

        .kort1{
            grid-area: box1;
          
        }
        
        .kort2{
            grid-area: box2;
        
        }
        
        .kort3{
            grid-area: box3;
        
        }
        
        .kort4{
            grid-area: box4;
          
        }
        
        .kort5{
            grid-area: box5;
         
        }
        
        .kort6{
            grid-area: box6;
           
        }
            
        .kort7{
            grid-area: box7;
        }
    }






