header{
  grid-area: header;
}

#nav-toggle{
  display: none;
}

/*
  Använt mig av nesting där jag skriver css-koden
  i samma struktur som html.
*/

nav{

  /* Helper */
  @extend %nav-standard;

  & > ul{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;

    .megamenu{

      /* Helper */
      @extend %megamenu;

      h4{
        margin-bottom: 15px;
        text-transform: uppercase;
      }

      ul{
        width: 25%;
        margin-bottom: 40px;
        color: $black;
        box-shadow: none;

        li{
          display: block;
          a{
            margin-top: 10px;
            transition: 0.5s;
            color: $primary-color;
            
            &:hover{
              color: $secondary-color;
            }
          }
        }
      }
    }

    & > li{
      color: $secondary-color;
      transition: 0.5s;
      padding: 2.5em;

      &:hover{
        background: $third-color;
      }

      &:hover ul.megamenu{
        top: 100%;
      }

      & > a{
        padding: 15px 25px;
        color: $primary-color;
      }
    }
  }
  

}


/* mobile menu and tablet */

@include respond-to('small') {

  nav{
    display: none;
  }

  label{
    color: $fourth-color;
    font-size: 25px;
    cursor: pointer;
    line-height: 40px;
  }

  #nav-toggle:checked + #wrapper nav{
    display: flex;
}

}

/* Desktop */

@include respond-to('large') {

  #nav-toggle{
    display: none;
  }

  label{
    display: none;
  }

  nav{
    display: flex;

    & > ul{
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 1200px;
      margin: 0 auto;
      padding: 0;
    }
  }

}