 *{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

body{

background-size: cover;
max-width: 800px;
width: 100%;
margin: 0 auto;

}

/*Visas enbart på mobilen*/
label{
  color:red;
  line-height: 40px;
  font-size:2em;
  cursor:pointer;
}

/*Dold chekcbox som aldrig visas*/
#nav-toggle {
  display: none;
}

/*Men som används för att dölja och visa menyn på mobilen*/
#nav-toggle:checked + #wrapper nav {
  display: block;
}

/*Menyn döljs på mobilen som default*/
nav {
  display: none;	
	text-transform: uppercase;
}

nav a{
	display:block;
	text-decoration: none;
	font-family: merriweather;
	font-weight: bold;
	font-size:10pt;
	color:#112233;
  
}

nav a:hover{
	background:#223433;
	color:#f0f1f5;
}

nav ul{
	list-style: none;
  opacity:0.8;
  
}

nav ul li{
  background:skyblue;
  line-height: 40px;
  padding-left:50px;
}

/*Den första undermenyn färgläggs lite annorlunda på mobilen för att kunna skiljas från övre li*/
nav ul li ul li a{
  color:yellow;
}

/*Den andra undermenyn färgläggs lite annorlunda på mobilen för att kunna skiljas från övre li*/
nav ul ul li ul a{
  color:white;
}

@media all and (min-width: 630px){
/*Tecknet för mobil menyn döljs på desktop*/
  label{
    display:none;
  } 
  
  /*Menyn på desktoppen*/
  nav {
	height:40px;
	width:804px;/*beror på vilken bredd man satt på de enskilda li, i detta fall är de 4 li*200px+margin-right på 1px*/ 
	display:block;
	margin:0 auto; /*centrar ul inuiti*/

}
  /*Alla ul li centreras på desktoppen*/
  nav ul{
    text-align:center;
  }  

 /*Menyn på desktoppen*/
nav ul li{
	float:left;/*gör att den flyter till vänster (bättre att göra detta med flexbox)*/
	width:200px;
	height:40px;
  margin-right:1px;
  padding:0;
}

/*Döljer dropdown*/
nav ul ul li{
	position:relative; /* sätter positionen till vara relativt till sin behållare*/
	display:none;
}

/*Döljer submenyn i dropdown*/
nav ul ul ul{
	display:none;
  
}

/*Visar dropdown vid hover på ul li*/ 
nav ul li:hover ul li{
	display: block;
  
}

/*Visar submenyn i dropdown*/
nav ul ul li:hover ul{
	display:block;
	position:absolute; /*sätter positionen till att absolute mot sin förälder som är satt till att vara relativt*/
	width:200px; /*samma som ul li*/
	left:200px; /*absolute position 200px ifrån sin förälder*/
	top:0px; /*absolute position högst mot sin förälder*/
  
}
  /*Färgen för undermenyer på desktoppen återställs*/
  nav ul li ul li a{
  color:#112233;
}
  /*Färgen för undermenyer på desktoppen återställs*/
  nav ul ul li ul a{
  color:#112233;
}
}


nav ul li:last-child, nav ul li:last-child > a:hover
{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#about, #about > a:hover
{
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.span1
{
  margin-left: 10px;
  border: 3px solid red;
  background: red;
  color:white;
  border-radius: 50%;
}

/*
  En Adjacent sibling selector som nu då väljer
  att rikta in sig på en h3:a som har en h2:a 
  precis innan samt att dom måste ha samma förälder.
  I detta fall en <div>.
*/
.logo
{
   text-align: center;
   padding: 30px;
   margin: 5px;
}
/*
  En class selector som i detta fallet kommer att
  sätta regler för dom element som har angivits
  med klassen "syndicate". Om det är klasser
  man ska styla om så sätts det alltid en punkt
  först för att anmärka att det är en klass.
  Sedan därefter namnet man har givit elementet.
*/
.syndicate
{   
   background-color: green;
   margin: 1em;
}
.syndicate:nth-child(3n + 2)
{
   background: slateblue;
}
.syndicate p
{
   color: whitesmoke;
   padding: 0.5em;
   margin-bottom: 0.5em
}
.syndicate h3
{
   padding: 0.5em;
   text-align: center;
}
.blog_summary
{
   background-color: salmon; 
   text-align: center;   
}

.blog_summary ul li
{
   margin: 0.5em;
   padding: 0.5em;
}

.blog_summary ul li a:hover 
{
    color:red;
}  
/*
  En child selector som talar om i detta fall
  att man kommer styla dom/det span element som är
  ett barn till en <p> tagg.
*/
.blog_summary p > span
{
   color:yellow;
   text-align: center;
}

.blog_summary ul
{
    text-align: center;
}

.contact 
{
    text-align: center;
    margin-top: 0.5em;
}

.tel ~ .web 
{
    color: white;
}