@import url(https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);

//Breakpoint map
$breakpoints: (
  'xsmall': (max-width: 375px ), //added breakpoint variable
  'large': (min-width: 376px ),
) !default;

/* Color map */

$colors: (
  bakgrund: #B1FF6D,
  textcolor: #2C68AD,
  saldo: #D0FFFD,
  
  /* Border-colors */

  /* Border1 */
  border1-text: #F9D64D,

  /* Border2 */
  border2-text: #DF1724,
  border2-background: #F4B8BA,
  
  /* Border3 */
  border3-text: #ffffff,
  border3-background: #14C700,

  /* Border4 */
  border4-background: #F9D64D
);
